--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.5.1
torchvision
omegaconf
torchmetrics
fvcore
iopath
xformers==0.0.29
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
einops
wandb
timm
pyarrow
# swanlab # optional experiments tracking tool if wandb doesn't work
